Name: oauth2
Host: 0.0.0.0
Port: 8884
Domain: http://localhost:8884`
Mode: dev
Log:
  stat: false
  Path: "/var/log/oauth2/"
  Mode: "console"       # default=console,options=[console,file,volume]
  Level: "debug"        #    default=info,options=[debug,info,error,severe]
  KeepDays: 5


DB:
  DataSource: root:123456@tcp(localhost:43306)/oauth2?charset=utf8mb4&parseTime=true&loc=Asia%2FShanghai # 数据库连接地址 自建最好修改下密码